<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
        http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- do not use import statements if CXFServlet init parameters link to this beans.xml -->

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <jaxrs:server id="services" address="/">
        <jaxrs:serviceBeans>
            <ref bean="customerservice"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jaxrsProvider"/>
        </jaxrs:providers>
        <jaxrs:extensionMappings>
            <entry key="xml" value="application/xml"/>
            <entry key="json" value="application/json"/>
        </jaxrs:extensionMappings>
        <jaxrs:features>
            <cxf:logging/>
        </jaxrs:features>
    </jaxrs:server>

    <context:component-scan base-package="demo.server" />

    <bean id="customerservice" class="demo.server.CustomerWebService"/>

    <bean id="jaxrsProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider">
    </bean>

    <util:map id="propertiesMap">
        <entry key="jaxrs.formatted.output">
            <value type="java.lang.Boolean">true</value>
        </entry>
    </util:map>
</beans>